html{
  background-color: grey;
}
.App {
  text-align: center;
}

.addTodoForm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}

.todoInput{
  background-color: #2d3748;     
  border-radius: 0.25rem;         
  border: 1px solid #4a5568;     
  color: #f7fafc;                
  padding: 0.25rem 0.75rem;       
  font-size: 1rem;                
  outline: none;                  
  line-height: 2rem;              
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
  margin-right: 2rem;
}

.todoInput:focus{
  border-color: #6366f1;          
  box-shadow: 0 0 0 2px #312e81;  
}

.addTodoBtn{
  color: #ffffff;                
  background-color: #6366f1;     
  border: none;                   
  padding: 0.5rem 1.5rem;         
  font-size: 1.125rem;            
  border-radius: 0.25rem;         
  outline: none;                  
  transition: background-color 0.2s ease;
}

.addTodoBtn:focus{
  outline: none;
}

.addTodoBtn:hover {
  background-color: #4f46e5;    
}

.todoList{
  margin-top: 1rem;               
  display: flex;                  
  justify-content: space-between; 
  align-items: center;           
  background-color: #27272a;     
  padding: 0.5rem 1rem;           
  border-radius: 0.25rem;    
  margin-right: 5rem;
  margin-left: 2rem;     
}

.todoText{
  color:white;
}

.deleteTodo{
  color: #ffffff;                
  background-color: #ef4444;     
  border: none;                   
  padding: 0.25rem 1rem;          
  font-size: 0.875rem;            
  border-radius: 0.25rem;         
  outline: none;                  
  transition: background-color 0.2s ease; 
}

.deleteTodo:focus {
  outline: none;                  
}

.deleteTodo:hover {
  background-color: #dc2626;      
}

.deleteSVG{
  width: 1.5rem;   
  height: 1.5rem;  
}